<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Interview</title>
</head>

<body>
	<div id="main">
		<div id="tables" style="float:left; border: solid; border-color: black; width: 100px;">
			<div style="margin: 5%;">
			{% for model, url in models %}
				<div style="text-align: center"><a class="remote-call" href="{{url}}">{{ model }}</a></div>
			{% endfor %}
			</div>	
		</div>
		<div id="data">
			<table id="content"></table>
		</div>
	</div>
	
<script type="text/javascript">

	function sendRequest(event){
		$.ajax({
			url: event.target.href
		}).success(function(data, status, object){
			var _table = $('#content');
			var table = '';
			for (key in data){
				var row = '<tr>';
				for (i in data[key]){
					row += '<td>' + data[key][i] + '</td>';
				}
				row += '</tr>'
				table += row;
			}
			_table.html(table);
			console.log('1');
		})
	}

	$(document).ready(function(){
		$('a.remote-call').click(function(event){
			sendRequest(event);
			return false;
		});
	})
</script>
</body>
</html>